<center>
    <img src ='.\Images\Swiggy_logo.png?raw=true'width = "250"/>
</center>
<p style="font-size:50px; font-style:bold;text-decoration: underline;color:#fc8019;text-align: center ">
 Swiggy Metro Cities Data Analysis
</p>


## <span style="color:#FC8019;font-size:25px; font-style:bold;"><u><b>About Dataset</b></u></span>

Context:

This dataset contains swiggy registered restaurants details of major metropoliton cities of India. It considered only metropoliton cities with population 4.5 million. As per the Census of India 2011 definition of more than 4 million population, some of the major Metropolitan Cities in India are:


Content:

This Dataset Contains 18 Different Columns which are :

 1.  type --> Contain (F,D,C,P) Means 
         > Fine Restaurants
         > Dessert Restaurants
         > Continental Restaurants
         > Premium Restaurants
 
 2.   id --> Restaurants id                  
 3.   name  --> Restaurants name           
 4.   uuid --> Universally Unique Identifiers
 5.   city -->  Restaurants Belong from City  
 
            * Mumbai (more than 18 Million)
            * Delhi (more than 16 Million)
            * Kolkata (more than 14 Million)
            * Chennai (more than 8.6 million)
            * Bangalore (around 8.5 million)
            * Hyderabad (around 7.6 million)
            * Ahmedabad (around 6.3 million)
            * Pune (around 5.05 million)
            * Surat (around 4.5 million)
            
 6.   area  -->  Restaurants belong from Area              
 7.   avgRating --> Restaurants   Average Rating         
 8.   totalRatingsString --> Restaurants   Total  Rating  string
 9.   cuisines  --> Restaurants   Serving Cuisines (Menu)
 10.  costForTwoStrings  --> Restaurants   Cost for Two 
 11.  deliveryTime    --> Restaurants   Delivery Time
 12.  minDeliveryTime  --> Restaurants  Minimum Delivery Time
 14.  maxDeliveryTime  --> Restaurants  Maximum Delivery Time  
 14.  address  --> Restaurants  address 
 15.  locality  --> Restaurants  locality
 16.  unserviceable --> Restaurants  provide service or not
 17.  veg    --> Restaurants   Serving food veg. or non-veg
 18.  City 


    


<u>Acknowledgements:<u>
Thank you swiggy for the dataset.

In [7]:
# Import Library
import opendatasets as od
import os
import pandas as pd 
import numpy as np
import seaborn as sns
import matplotlib

import matplotlib.pyplot as plt
%matplotlib inline
import warnings
print("Import Successfully...")

# Setting
warnings.filterwarnings('ignore')
pd.pandas.set_option("display.max_columns",None)
sns.set_style("darkgrid")
matplotlib.rcParams['font.size']=14
matplotlib.rcParams['figure.figsize']=(15,7)
matplotlib.rcParams['figure.facecolor']='#FFFFFF'

print("Setting Successully..")

Import Successfully...
Setting Successully..

In [16]:
# Downloading Dataset from Kaggle for that I am using Opendatasets library

# dataset_url is our  Dataset URL link
dataset_url = 'https://www.kaggle.com/datasets/aniruddhapa/swiggy-restaurants-dataset-of-metro-cities' 

# Download dataset_url with the help of  Opendatasets's download() function
od.download(dataset_url)

print("Dataset has been downloaded......")

Please provide your Kaggle credentials to download this dataset. Learn more: http://bit.ly/kaggle-creds
Your Kaggle username:

  poojadasdodo

Your Kaggle Key:

  ································

2022-08-07 23:57:59,829 WARNING Retrying (Retry(total=2, connect=None, read=None, redirect=None, status=None)) after connection broken by 'SSLError(SSLEOFError(8, 'EOF occurred in violation of protocol (_ssl.c:1129)'))': /api/v1/datasets/download/aniruddhapa/swiggy-restaurants-dataset-of-metro-cities

Downloading swiggy-restaurants-dataset-of-metro-cities.zip to .\swiggy-restaurants-dataset-of-metro-cities

100%|███████████████████████████████████████████████████████████████████████████████| 776k/776k [00:00<00:00, 2.05MB/s]

Dataset has been downloaded......

In [17]:
# The dataset has been downloaded and extracted.
#Extracted File inn data_dir
data_dir = './swiggy-restaurants-dataset-of-metro-cities'

print("Dataset has been Extracted sucessfully......")

Dataset has been Extracted sucessfully......

## <span style="color:#FC8019;font-size:25px; font-style:bold;"><u><b>Data Preparation and Cleaning</b></u></span> 

**The raw data is now obtained. First we need to clean and simplify the data in order to prepare it for Analysis.** 

1. Load the file using Pandas
2. Look at some information about the data & the columns
3. Fix any missing or incorrect values

In [18]:
os.listdir(data_dir)

['Swiggy_dataset.csv']

In [21]:
dataset = pd.read_csv('./swiggy-restaurants-dataset-of-metro-cities/Swiggy_dataset.csv')

In [22]:
dataset.head()

,type,id,name,uuid,city,area,avgRating,totalRatingsString,cuisines,costForTwoStrings,deliveryTime,minDeliveryTime,maxDeliveryTime,address,locality,unserviceable,veg,City
0,F,37933,Faasos - Wraps & Rolls,6fe9caf1-02a7-4e66-83bb-1b4ff296b683,Ahmedabad,Vastrapur,4.2,500+ ratings,['Combo' 'Snacks' 'Beverages' 'Desserts' 'Indi...,₹200 FOR TWO,44,44,44,SHOP NO 2 HOTEL SHAHI PALACE VASTRAPUR LAKE AH...,HOTEL SHAHI PALACE,False,False,NaN
1,F,81814,Burger King,10083576-d32d-4a0e-8a82-3236ef342a19,Ahmedabad,Ellisbridge,4.2,1000+ ratings,['American' 'Fast Food'],₹350 FOR TWO,33,33,33,SHOP # 5 GR FLR THIRD EYE 2PANCHAVATI CIRCLE O...,3rd Eye II Ellis Bridge CG Road,False,False,NaN
2,F,107046,Mahalaxmi Pav Bhaji,fbfe3bfa-03fd-4708-b913-06e2c9ee9639,Ahmedabad,Ellisbridge,4.3,500+ ratings,['North Indian'],₹200 FOR TWO,28,28,28,GF 9/10 Dev complexnear parimal charasta opp. ...,C G Road,False,True,NaN
3,F,328315,HIIT Meals,81ab4019-2445-4aef-aff2-04beccd641d9,Ahmedabad,Vishala,--,Too Few Ratings,['Fast Food' 'Combo' 'Snacks' 'North Indian' '...,₹150 FOR TWO,51,51,51,C11 Rajyash Rise Near Vishala Restaurant Vasna...,Vasna,False,False,NaN
4,F,108879,Jay Jalaram Parotha House,994e73e1-7c7c-4ad9-87e7-ecfecd4e36fa,Ahmedabad,Ellisbridge,3.9,100+ ratings,['North Indian'],₹250 FOR TWO,29,29,29,Capital Commercial Centre Near UCO Bank Ashram...,Ashram Road,False,True,NaN

In [23]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8691 entries, 0 to 8690
Data columns (total 18 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   type                8691 non-null   object
 1   id                  8691 non-null   int64
 2   name                8691 non-null   object
 3   uuid                8688 non-null   object
 4   city                8691 non-null   object
 5   area                8691 non-null   object
 6   avgRating           8691 non-null   object
 7   totalRatingsString  8691 non-null   object
 8   cuisines            8691 non-null   object
 9   costForTwoStrings   8691 non-null   object
 10  deliveryTime        8691 non-null   int64
 11  minDeliveryTime     8691 non-null   int64
 12  maxDeliveryTime     8691 non-null   int64
 13  address             8682 non-null   object
 14  locality            8681 non-null   object
 15  unserviceable       8685 non-null   object
 16  veg                 8685 non-null   object
 17  City                0 non-null      float64
dtypes: float64(1), int64(4), object(13)
memory usage: 1.2+ MB

In [24]:
dataset.describe()

                  id  deliveryTime  minDeliveryTime  maxDeliveryTime  City
count    8691.000000   8691.000000      8691.000000      8691.000000   0.0
mean   244855.957887     53.959268        53.130480        53.130480   NaN
std    158650.520513     14.290555        13.701142        13.701142   NaN
min       211.000000     20.000000        20.000000        20.000000   NaN
25%     72885.500000     44.000000        44.000000        44.000000   NaN
50%    283560.000000     52.000000        52.000000        52.000000   NaN
75%    393448.500000     64.000000        63.000000        63.000000   NaN
max    466928.000000    109.000000       109.000000       109.000000   NaN